@import "tailwindcss";

.main {
    padding: 1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer base {
  input {
    @apply border border-black rounded-md p-1;
  }

  a {
    @apply underline text-blue-500;
  }

  h1 {
    @apply text-2xl font-bold;
  }

}